* {
 font-family: "Nunito";
}

body {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.card {
 padding: 20px;
 height: auto;
 width: 100%;
}

.side-text {
 color: #ddd;
 text-align: center;
 width: 300px;
}

.backout {
 position: absolute;
 top: 5px;
 left: 10px;
}

.backout i {
 color: #ddd;
 font-size: 40px;
 z-index: 5;
}

.backout i:hover {
 opacity: 0.6;
}

main {
 width: 400px;
}

.text-bottom span a {
 text-decoration: none;
}

.border1 {
 background-image: linear-gradient(to right, #272d2d, #153131);
 width: 400px;
 height: 400px;
 position: absolute;
 top: 150px;
 left: 130px;
 border-radius: 86% 14% 74% 26% / 24% 38% 62% 76%;
 z-index: -1;
}
